{% extends 'pages/base.html' %}

{% block title %}Anasayfa{% endblock %}

{% block posts %}

<div class="row justify-content-center">
  {% for post in posts %}
  <div class="col-md-6 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'postdetail' slug=post.slug %}">{{ post.title }}</a></h5>
        <img class="card-img-top mb-3" src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 300px; max-height: 250px;">
        <p class="card-text">{{ post.content|safe|truncatechars_html:50 }}</p>
        <p class="card-text"><small class="text-muted">{{ post.date|timesince }} önce paylaşıldı</small></p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if posts.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Önceki</a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Önceki</span></li>
    {% endif %}

    <li class="page-item"><a class="page-link" href="">{{ posts.number }}</a></li>

    {% if posts.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Sonraki</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}">Son</a></li>
    {% endif %}
  </ul>
</nav>

{% endblock %}
