{% extends 'pages/base.html'%}

{% block title %}Yazılarım{% endblock %}

{% block posts %}


<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">title</th>
      <th scope="col">updated date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

    {% for post in posts %}
    <tr>
      <th scope="row">{{ post.id }}</th>
      <td>{{ post.title }}</td>
      <td>{{ post.update_date }}</td>
      <td>@mdo</td>
    </tr>
    {% endfor %}
  <!-- <div class="container mt-4">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="blog-cards">
          <div class="blog-card">
            <a href="post_detail.html">
              <div class="row">
                <div class="col-md-4">
                  <div class="img-wrapper">
                    <img src="{{post.image.url}}" alt="Post Image" class="img-fluid">
                  </div>
                </div>
                <div class="col-md-8">
                  <h3 class="mt-2">{{ post.title }}</h3>
                  <p> {{ post.content|safe|truncatechars_html:50 }} </p>
                  <p> {{post.date|timesince}} önce paylaşıldı</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
    
  
  </tbody>
</table>



<nav aria-label="Page navigation example">
  <ul class="pagination">
{% if posts.has_previous %}
  <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Önceki</a></li>
{% else %}
  <li class="page-item disabled"><span class="page-link">Önceki</span></li>
{% endif %}

<li class="page-item"><a class="page-link" href="">{{posts.number}}</a></li>
{% if posts.has_next %}
  <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Sonraki</a></li>
  <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}">Son</a></li>
{% else %}
{% endif %}

  </ul>
</nav>


{% endblock %}